@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a, button {
        cursor: none !important;
    }

    a {
        text-decoration: none !important;
        text-decoration-line: none !important;
    }
}